{% extends "automodel/base.html" %}
{% load form_tags %}
{% block container %}
    <div class="container">
    <h1>修改列表页面</h1>
    <div class="col-md-6">
       {% add_change_form form %}
    </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $("form").find("input").addClass("form-control");
    $("form").find("select").addClass("form-control")
    function popUpCallback(data) {
        var aim_obj = document.getElementById(data.popup_id);
        var new_option = document.createElement("option");
        new_option.innerHTML = data.text;
        new_option.setAttribute("value", data.pk);
        new_option.setAttribute("selected", "selected");
        aim_obj.appendChild(new_option)
    }
    function popUp(url) {
        window.open(url, "popup", "status=1, width=700, height=500, left=400, top=150")
    }
    </script>

{% endblock %}
